useDynLib(deSolve)

export(aquaphy, ccl4model, SCOC, daspk, lsoda, lsodar, lsode, lsodes,
       ode, ode.1D, ode.2D, ode.3D, ode.band, vode, diagnostics)
export(zvode)

export(rk, rk4, euler, rkMethod)

export(DLLfunc, DLLres)

S3method("print", "deSolve")
S3method("plot", "deSolve")
S3method("hist", "deSolve")
